[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff --staged
	fixup = commit --fixup
	squash = commit --squash
	unstage = reset HEAD
	rum = rebase master@{u}
	plog = log --graph --abbrev-commit --date=relative --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)\"
[core]
	pager = less -FXRS -x2
	excludesfile = /Users/irynashustava/.gitignore
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[branch]
	autosetupmerge = true
[rebase]
	autosquash = true
[push]
	default = simple
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	email = iryna@hashicorp.com
	name = Iryna Shustava
	signingkey = 5971648779A5A8A4
[init]
	templateDir = /Users/irynashustava/.git-template
[gpg]
	program = gpg
